extends layout 
    
block content
     body(class="bg-primaryForeground min-h-screen h-screen w-full flex flex-col gap-12 font-sans")
        style.
          .highlight-day {
             background-color: #717175; 
             transition: color 3s ease;    
             color: white; 
          }
          #calendar {
             height: 100%; 
             width: 100%;  
          }
         .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center; 
            align-items: center; 
         }
         .modal-content {
             background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            max-width: 500px; 
            width: 100%; 
          }
          .hidden {
            display: none;
          }
         .flex {
            display: flex; 
         }
        div(class="w-full h-12 mt-5") 
            h1(class="text-3xl text-thirdFont font-semibold text-center") Atención Médica - Agenda Diaria
        section(class="w-full flex justify-evenly h-full")
            div(class="w-3/6 h-5/6 bg-white rounded-lg shadow-md p-10 box-border")
                div(class="w-full h-24")
                    h3(class="text-2xl font-semibold") Agenda del dia - #{doctor}
                    p(class="text-sm mt-2 text-secondaryFont") #{fecha}
                div(class="flex h-96 flex-col items-center justify-start gap-5" id="turnos-container")
                  if agenda   
                    each turno in agenda
                        article(class="w-full flex items-center justify-between border-b pb-2")
                            div(class="flex items-center justify-center min-w-36 max-w-full gap-3 ")
                                div(class="w-20 flex items-center justify-center gap-2")
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock h-5 w-5 text-gray-500" data-id="14"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                                    p(class="") #{turno.inicio.split(':').slice(0, 2).join(':')}
                                div(class="w-26 flex items-center justify-center gap-2")
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user h-5 w-5 text-gray-500" data-id="16"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    a(href="#" class="modalPaciente") #{turno.nombre}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-text h-5 w-5 text-gray-500" data-id="21"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"></path><path d="M14 2v4a2 2 0 0 0 2 2h4"></path><path d="M10 9H8"></path><path d="M16 13H8"></path><path d="M16 17H8"></path></svg>
                                    p #{turno.motivo}
                            div(class="flex items-center justify-center min-w-36 max-w-52 gap-5")
                                if turno.estado==='pendiente' 
                                    p(class="px-2 py-1 rounded-full text-xs bg-blue-100 text-blue-800") Pendiente
                                    button(class="inline-flex items-center justify-center text-sm font-medium transition-colors border border-input bg-transparent hover:bg-primaryForeground/5 h-9 rounded-md px-3") Abrir Consulta
                                else     
                                    p(class="px-2 py-1 rounded-full text-xs bg-green-100 text-green-800") Atendido
                                    a( href="#"  class="modalConsulta" class="inline-flex items-center justify-center text-sm font-medium transition-colors border border-input bg-transparent hover:bg-primaryForeground/5 h-9 rounded-md px-3") Ver HCE
                  else if agenda === null
                    p No se encontraron turnos para el día de hoy!         
                            
            div(class="w-1/4 h-5/6 bg-white rounded-lg shadow-md p-10 box-border")
                h3(class="text-2xl font-semibold text-center mb-2") Calendario
                div(class="w-full h-full px-2 py-6 box-border")
                    div(id="calendar")
        div(id="modalPaciente", class="modal")
            div(class="modal-content")
                button(id="closeModal") X
                div(id="infoPaciente")
        div(id="modalConsulta", class="modal")
            div(class="modal-content")
                button(id="closeModal") X
                div(id="infoConsulta")